파이썬 코딩 첫날

In [1]:
2+2 #

4

In [3]:
2+3

5

In [4]:
a=3

In [5]:
a=3
a+2

5

In [6]:
a=3
a+2;
a+7

10

In [7]:
a= input("a:")

a:100

In [8]:
print(a)

100

In [9]:
a

'100'

In [10]:
type(a)

str

In [11]:
a=100

In [12]:
type(a)

int

In [13]:
f=2.5
print(f,type(f))

2.5 <class 'float'>

In [15]:
f=int(f)

In [16]:
f='words'
print(f,type(f))
f

words <class 'str'>

'words'

In [18]:
float(f)

ValueError: could not convert string to float: 'words'

In [20]:
f+2

TypeError: can only concatenate str (not "int") to str

In [24]:
float("34.0")

34.0

In [28]:
a=3;b=2;a+b

5

In [31]:
import sys, os

In [34]:
sys.platform

'win32'

In [37]:
help("print")

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [38]:
a=3.0
a.as_integer_ratio()

(3, 1)

In [39]:
b=[1,,3]

SyntaxError: invalid syntax (1576952812.py, line 1)

In [40]:
b=[1,2,3]

In [41]:
b.append("bb")
print(b)

[1, 2, 3, 'bb']

In [42]:
a=1;b=2; print(a/n,a)

NameError: name 'n' is not defined

In [44]:
a=1;b=2; print(a/b,ab,a%b)

NameError: name 'ab' is not defined

In [67]:
a=0.3;b=0.6;print(round(a+b,10)==0.9,a+b)

True 0.8999999999999999

In [69]:
a=2;b=-1;c=-3;
x1=(-1+((b**2-(4*a*c))**0.5))/(2*a)
x2=(-1-((b**2)-(4*a*c))**0.5)/(2*a)
print(x1,x2)

1.0 -1.5

In [74]:
import math

In [ ]:
a=2;b=-1;c=-3;

In [80]:
x1=(-1+math.sqrt(b**2-(4*a*c)))/(2*a)
print(x1)

1.0

In [82]:
국어=input("국어점수 = ")

국어점수 = 80

In [ ]:
국어=input("국어점수 = ")

In [83]:
국어=input("국어점수 = ")

국어점수 = 80

In [86]:
수학=input("수학점수 = ")

수학점수 = 55

In [88]:
영어=input("영어점수 = ")

영어점수 = 75

In [90]:
print(국어,영어,수학)

80 75 55

In [91]:
type(국어)

str

In [93]:
국어=float(국어)
수학=float(수학)
영어=float(영어)

In [96]:
print(국어,영어,수학)

80.0 75.0 55.0

In [97]:
sum=국어+영어+수학

In [98]:
sum/=3

In [99]:
print(sum)

70.0

In [100]:
print(round(sum,1))

70.0

In [101]:
if 13%2==1:
    print(True)
else:
    print(False)

True

In [104]:
num=input()
num=int(num)
if num%2==1:
    print(True)
else:
    print(False)

22
False

In [123]:
t=input()
t=int(t)
if t>=30:
    print("너무 더워요. 나가지 마세요")
elif t>=10:
    print("괜찮은 날씨에요")
elif t>=0:
    print("외투를 챙기세요")
else:
    print("너무 추워요. 나가지마세요")

35
너무 더워요. 나가지 마세요

In [124]:
fruit=['apple','watermelon','peach','pear']
for i in fruit:
    print(i)

apple
watermelon
peach
pear

In [126]:
a=list(range(8))
b=list(range(2,8))
c=list(range(10,200,20))
print(a)
print(b)
print(c)

[0, 1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[10, 30, 50, 70, 90, 110, 130, 150, 170, 190]

In [135]:
for i in range(2,10,2):
    for j in range(1,10):
        print('%d * %d = \t %d' % (i,j,i*j))

2 * 1 = 	 2
2 * 2 = 	 4
2 * 3 = 	 6
2 * 4 = 	 8
2 * 5 = 	 10
2 * 6 = 	 12
2 * 7 = 	 14
2 * 8 = 	 16
2 * 9 = 	 18
4 * 1 = 	 4
4 * 2 = 	 8
4 * 3 = 	 12
4 * 4 = 	 16
4 * 5 = 	 20
4 * 6 = 	 24
4 * 7 = 	 28
4 * 8 = 	 32
4 * 9 = 	 36
6 * 1 = 	 6
6 * 2 = 	 12
6 * 3 = 	 18
6 * 4 = 	 24
6 * 5 = 	 30
6 * 6 = 	 36
6 * 7 = 	 42
6 * 8 = 	 48
6 * 9 = 	 54
8 * 1 = 	 8
8 * 2 = 	 16
8 * 3 = 	 24
8 * 4 = 	 32
8 * 5 = 	 40
8 * 6 = 	 48
8 * 7 = 	 56
8 * 8 = 	 64
8 * 9 = 	 72

In [ ]:
""