In [5]:
fruits=['apple','banana','kiwi']
for i,f in enumerate(fruits,start=1):
    print('{0}: {1}'.format(i,f))

1: apple
2: banana
3: kiwi

In [8]:
fruits=['apple','banana','kiwi']
idx=[101,102,103]
for i,f in zip(idx,fruits):
    print('{0}:{1}'.format(i,f))

101:apple
102:banana
103:kiwi

In [9]:
list(zip(idx,fruits))

[(101, 'apple'), (102, 'banana'), (103, 'kiwi')]

In [10]:
fruits=['apple','banana','kiwi']
def string_length(string): #def는 정의하다 
    return len(string) #len는 문자열의 길이를 알려줌
for l in map(string_length,fruits):
    print(l)

5
6
4

In [11]:
def string_length(string):
    return len(string)
list(map(string_length,fruits))

[5, 6, 4]

In [18]:
for i in range(1,10):
    if i > 5:
        break
    print('%5d' % i, end='') #end 는 줄바꿈 안하고 이어서 프린트

    1    2    3    4    5

In [19]:
for i in range(10):
    if i%2==0:
        continue
    print('%5d' % i, end='')

    1    3    5    7    9

In [21]:
i=1
while i <= 10:
    print(i)
    i+=1
else:
    print(1000)

1
2
3
4
5
6
7
8
9
10
1000

In [35]:
marks=[90,25,67,45,80]
number=0
for i in marks:
    number+=1
    if i>60:
        print("%d번 학생은 합격입니다"% number)
    else:
         print("%d번 학생은 불합격입니다"% number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [36]:
marks=[90,25,67,45,80]
#number=0
for f,i in enumerate(marks,start=1):
    #number+=1
    if i>60:
        print("%d번 학생은 합격입니다"% f)
    else:
         print("%d번 학생은 불합격입니다"% f)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [39]:
marks=[90,25,67,45,80]
for f,i in enumerate(marks,start=1):
    if i>60:
        print("%d번학생축하합니다 합격입니다"%f)
    else:
         continue

1번학생축하합니다 합격입니다
3번학생축하합니다 합격입니다
5번학생축하합니다 합격입니다

In [68]:
n=1260
count=0
while n>=10:
    if n>500:
        n-=500
        count+=1
    elif n>100:
        n-=100
        count+=1
    elif n>50:
        n-=50
        count+=1
    elif n>=10:
        n-=10
        count+=1
print(count)

6

In [64]:
n=1260
array=[500,100,50,10]
count=0
for coin in array:
    count+=n//coin
    n%=coin
print(count)

6

In [70]:
lst=[4,3,2.0,0,'peger']
lst[3]=1
print(lst)
print(len(lst))

[4, 3, 2.0, 1, 'peger']
5

In [74]:
lst=["a",1,2,7.0,[1,2,3]]
lst.append("b")
lst

['a', 1, 2, 7.0, [1, 2, 3], 'b']

In [76]:
lst.remove(2)
lst

['a', 1, 7.0, [1, 2, 3], 'b']

In [77]:
lst.pop()
lst

['a', 1, 7.0, [1, 2, 3]]

In [78]:
lst.extend([1,2])
lst

['a', 1, 7.0, [1, 2, 3], 1, 2]

In [82]:
#['a', 1, 2, 7.0, [1, 2, 3]]
#lst.append("b") 뒤에다 b를 추기한다 ['a', 1, 2, 7.0, [1, 2, 3], 'b']
#lst.remove(2) remove안에있는 값을 삭제한다 ['a', 1, 7.0, [1, 2, 3], 'b']
#lst.pop() 맨 뒤에있는값을 지운다 ['a', 1, 7.0, [1, 2, 3]]
#lst.extend([1,2]) 맨뒤에 list를 추가한다 ['a', 1, 7.0, [1, 2, 3], 1, 2]
#lst.insert(1,0) 1=index,0값 추가 ['a', 0, 1, 7.0, [1, 2, 3], 1, 2]

In [80]:
lst.insert(1,0) # 1=index 0= 값
lst

['a', 0, 1, 7.0, [1, 2, 3], 1, 2]

In [83]:
lst[4][2]

3

In [85]:
lst1=[1,2,3]
lst2=[]

In [86]:
for i in lst1:
    lst2.append(i**2)
lst2

[1, 4, 9]

In [88]:
lst2=[i**2 for i in lst1] #list 내포

In [89]:
lst3=[(x,x**2) for x in lst2 if x<5]
lst3

[(1, 1), (4, 16)]

In [90]:
lst4=[x*y[0] for x in lst2 for y in lst3]
lst4

[1, 4, 4, 16, 9, 36]

In [91]:
lst4=[]
for x in lst2:
    for y in lst3:
        lst4.append(x*y[0])
lst4

[1, 4, 4, 16, 9, 36]

In [93]:
import random

In [94]:
random.choice(["a","b","c"])

'b'

In [ ]:
#b=random.shuffle(["a","b","c"])
#b

In [96]:
b=random.sample(["a","b","c"],2)
b

['c', 'b']

In [128]:
words=["coffee","apple","banana"]
word=random.choice(words)
letters=""
count=0
print("answer:"+word)
while True:
    suceed=True
    print()
    for i in word:
        if i in letters:
            print(i, end="")
        else:
            print("_",end="")
            suceed=False
    print()
    if suceed:
        print("success")
        break
    letter = input("input your letter:")
    if letter not in letters:
        letters+=letter
    if letter in word:
        print("correct")
    else:
        print("wrong")
        count+=1
    if count==10:
        break

answer:apple

_____
input your letter:a
correct

a____
input your letter:l
correct

a__l_
input your letter:e
correct

a__le
input your letter:p
correct

apple
success

In [131]:
%run word.py

answer:apple

_____

KeyboardInterrupt: Interrupted by user

In [139]:
t=(1,2,'sam')
print(t[0])
t2=(1)
t3=(1,)
print(t2,type(t2))

1
1 <class 'int'>

In [140]:
st='This.is.a,string'
st.split('.')

['This', 'is', 'a,string']

In [151]:
st1='This is a string'
st1.split()
st1.find('string')
st1.replace('string','sentece')
st1

'This is a string'

In [170]:
pin="881120-1068234"
pin.split('-')
b=pin.find('-')+1
if pin[b]=='1':
    print('male')
elif pin[b]!=1:
    print('not male')

male

In [171]:
a={1:"a"}

In [172]:
type(a)

dict

In [173]:
a[2]="b"
a

{1: 'a', 2: 'b'}

In [174]:
a[1]

'a'

In [176]:
a["ab"]=7
a

{1: 'a', 2: 'b', 'ab': 7}

In [177]:
a[9,1]=[1,2,3]
a

{1: 'a', 2: 'b', 'ab': 7, (9, 1): [1, 2, 3]}

In [178]:
print(a.keys(),a.values(),a.items())

dict_keys([1, 2, 'ab', (9, 1)]) dict_values(['a', 'b', 7, [1, 2, 3]]) dict_items([(1, 'a'), (2, 'b'), ('ab', 7), ((9, 1), [1, 2, 3])])

In [179]:
a["ab"]

7

In [181]:
a.get("c") #get은 값이 없을때 아무값이 안보임

In [184]:
a.setdefault("c",100) #setdefault는 값이 없을때 뒤에있는값을 반환

100

In [218]:
s="life is short so python is easy."
punct=",. "
d={}
for i in s:
    if i in punct:
        continue
    #if i not in d.keys():
       # d[i]=0
    #d[i]+=1
    d[i]=d.setdefault(i,0)+1
        
print(d)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

In [219]:
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
(1,2,3)+(4,)

(1, 2, 3, 4)

In [220]:
# 딕셔너리 a=dict()가 있다 다음중 오료가 발생하는 경우를 고르고 그 이유를 설명
a['name']='python'
a[('a,')]='python'
a[[1]]='python'  #V list에 안들어감
a[250]='python'

TypeError: unhashable type: 'list'

In [231]:
set1={1,2,3,4,6,6,7,7}
set1.intersection({1,5,7})

{1, 7}

In [233]:
#리스트 a값에서 중복 숫자 제거
a=[1,1,2,2,3,3,3,4,4,5]
set1={
set1

TypeError: unhashable type: 'list'

In [265]:
#두 단어가 철차의 순서를 바꾸어 놓은 것인지 확인하는 코드블록을 작성하시오
s1='google'
s2='gouglo'
d={}
d1={}
for i in s1:
    d[i]=d.setdefault(i,0)+1
for j in s2:
    d1[j]=d1.setdefault(j,0)+1
print(d==d1)

False

In [286]:
#l1의 요소중  l2의 요소와 값이 같은 경우 삭제하는 코드블록
# remove를 사용하면 앞에서부터 삭제되기 때문에 앞으로 밀려 살아남는 현상이 있음 그러므로 뒤에서부터 돌려야함
#for j in l1[::-1]:이렇게 뒤에 [::]이것으로 역순으로 해줌
l1=["a","b","c","d","a","b","a","b"]
l2=["b","a"]
for i in l2:
    for j in l1[::-1]:
        if i==j:
            l1.remove(j)
print(l1)

['c', 'd']

In [285]:
#l1의 요소중  l2의 요소와 값이 같은 경우 삭제하는 코드블록
l1=["a","b","c","d","a","b","a","b"]
l2=["b","a"]
for i in l1[::-1]:
    if i in l2:
        l1.remove(i)
        
print(l1)

['c', 'd']

In [287]:
d=dict([[1,2],[3,4]])
print(d, type(d))

{1: 2, 3: 4} <class 'dict'>

In [288]:
e=dict([(3,26),(4,44)])
print(e, type(e))

{3: 26, 4: 44} <class 'dict'>

In [295]:
i=5;f=2.5;g=4.0;h=2**64;s='VAT'
print('1. number of things:',i)
print('2 We have %i things' % i)
print('3. %i * %f =%f' % (i,f,i*f))
print('4. %i * %.2f = %.2f' % (i,f,i*f))
print('5. %f vs. %g vs. %g' % (f,g,h))
print('6. %4i vs. %04i ' % (i,i))
print('7. %s is %i%%' % (s,i))

1. number of things: 5
2 We have 5 things
3. 5 * 2.500000 =12.500000
4. 5 * 2.50 = 12.50
5. 2.500000 vs. 4 vs. 1.84467e+19
6.    5 vs. 0005
7. VAT is 5%

In [302]:
print('I like {} and {}'.format('apple','banana'))
print('{0} and {1}'.format('apple','banana'))
print('{1} and {0}'.format('apple','banana'))
print('{who} & {who2}'.format(who='야옹이',who2='멍멍이'))

I like apple and banana
apple and banana
banana and apple
야옹이 & 멍멍이

In [304]:
first, *rest=[1,2,3,4,5]
print(first)
*first, rest=[1,2,3,4,5]
print(rest)

1
5

banana and apple

야옹이 & 멍멍이